[submodule "lib/AampSharp"]
	path = lib/AampSharp
	url = https://github.com/BladesawStudios/AampSharp.git
[submodule "lib/BymlSharp"]
	path = lib/BymlSharp
	url = https://github.com/BladesawStudios/BymlSharp.git
[submodule "lib/SarcSharp"]
	path = lib/SarcSharp
	url = https://github.com/BladesawStudios/SarcSharp.git
[submodule "lib/ZsDicSharp"]
	path = lib/ZsDicSharp
	url = https://github.com/BladesawStudios/ZsDicSharp.git
